Repository hap-server/hap-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, gulpfile.babel.js, .babelrc, src/**/*, example-plugins/src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.ts, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
  audit: any of: .gitlab-ci.yml, package-lock.json

Include native hook types in the release build
  gulpfile.ts
  tsconfig.json
Due: none

Update dependencies
  package-lock.json
  package.json
Due: build, lint, audit

v0.11.0
  package-lock.json
  package.json
Due: build, lint, audit

Fix showing errors without stack traces
  src/public/components/main-component.vue
Due: build, lint

Add sunrise/sunset automation triggers
  package-lock.json
  package.json
  src/automations/trigger.ts
  src/public/automations/triggers/sunrise.vue
  src/public/automations/triggers/sunset.vue
  src/public/translations/en-GB.ts
Due: build, lint, audit

Show invalid fields and allow pasting a map URL
  src/public/automations/triggers/map-urls.ts
  src/public/automations/triggers/sunrise.vue
  src/public/automations/triggers/sunset.vue
  src/public/scss/index.scss
Due: build, lint

Add getting the current location from the browser
  src/public/automations/triggers/sunrise.vue
  src/public/automations/triggers/sunset.vue
  src/public/translations/en-GB.ts
Due: build, lint

Add a dropdown to select the automation group name
  src/public/automations/automation-settings.vue
  src/public/components/dropdown.vue
  src/public/translations/en-GB.ts
Due: build, lint

Fix automations with an empty name and automations that have never had a name being grouped separately
  src/public/automations/automations.vue
Due: build, lint

Fix conditional automation action editor
  src/public/automations/actions/conditional.vue
Due: build, lint

Add set characteristic automation action editor
  src/client/characteristic.ts
  src/client/service.ts
  src/public/automations/actions/set-characteristic.vue
  src/public/translations/en-GB.ts
Due: build, lint

Fix setting automation group name from recents for automations that have never had a group name set
  src/public/automations/automation-settings.vue
Due: build, lint

Show a loading indicator on the automations page
  src/public/automations/automations.vue
  src/public/translations/en-GB.ts
Due: build, lint

Fix showing all accessories page when reconnecting
  src/public/components/main-component.vue
Due: build, lint

Fix error TS1006: A file cannot have a reference to itself
  src/accessories/hap-ip-types.ts
  src/accessories/hap-ip.ts
Due: build, lint

Fix modals type error
  src/public/modals.ts
  src/public/window-modals.ts
Due: build, lint

Export additional internal types
  src/cli/configuration.ts
  src/client.ts
  src/index.ts
Due: build, lint

Update README and package description
  README.md
  package.json
Due: none

Fix filesystem name translation
  src/public/components/settings/status.vue
Due: build, lint

Remove configuration/cli utilities from the client library for the web interface
  src/client.ts
Due: build, lint

Initial plugins page
  src/common/types/messages.ts
  src/public/components/layout-selector.vue
  src/public/components/main-component.vue
  src/public/index.ts
  src/public/plugin-management/plugins.vue
  src/public/translations/en-GB.ts
  src/server/connection.ts
  src/server/permissions.ts
  src/server/server.ts
Due: build, lint

Fix setting initial page title
  src/public/components/main-component.vue
Due: build, lint

Remove old Server properties
  src/server/server.ts
Due: build, lint

Publish to GitLab Package Registry
  .gitlab-ci.yml
  README.md
Due: build, lint, audit

Add GitLab dependency scanning and SAST
  .gitlab-ci.yml
Due: build, lint, audit

Run npm install before dependency scan
  .gitlab-ci.yml
Due: build, lint, audit

Remove dependencies and build artifacts before SAST
  .gitlab-ci.yml
Due: build, lint, audit

Install @hap-server/authenticate-pam for dependency scanning and remove recursive symlinks for SAST
  .gitlab-ci.yml
Due: build, lint, audit

Show the latest version of the current Node.js LTS release
  src/server/system-information.ts
Due: build, lint

Add a command to install hap-server as a system service
  package-lock.json
  package.json
  src/cli/index.ts
  src/cli/service.ts
  src/types/bplist-creator.d.ts
  src/types/bplist-parser.d.ts
  src/types/simple-plist.d.ts
Due: build, lint, audit

v0.11.1
  package-lock.json
  package.json
Due: build, lint, audit

Fix Node.js version requirements
  package.json
Due: none

Fix types dependencies
  src/server/server.ts
  types/api/package.json
  types/ui-api/package.json
Due: build, lint

Update dependencies
  package-lock.json
  package.json
  src/server/hap-server.ts
  src/server/server.ts
Due: build, lint, audit

v0.11.2
  package-lock.json
  package.json
Due: build, lint, audit

Fix plugin API types
  types/api/storage.d.ts
Due: none

Fix main page title
  src/public/components/main-component.vue
Due: build, lint

Export Homebridge API instance type
  types/api/homebridge.d.ts
Due: none

Move @types/plist to development dependencies
  package-lock.json
  package.json
  types/api/package.json
Due: build, lint, audit

v0.11.3
  package-lock.json
  package.json
Due: build, lint, audit
