Repository hap-server/hap-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, gulpfile.babel.js, .babelrc, src/**/*, example-plugins/src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.ts, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
  audit: any of: .gitlab-ci.yml, package-lock.json

Automatically resize terminal
  src/public/components/terminal.vue
Due: build, lint

Fix type error
  src/public/index.ts
Due: build, lint

Resize terminal when switching tabs and after render
  src/public/components/settings/server-output.vue
  src/public/components/terminal.vue
Due: build, lint

Update default wallpaper
  LICENSE
  assets/LICENSE.md
  assets/default-wallpaper.jpg
Due: none

Fix crash trying to send data to a disconnected client
  src/server/connection.ts
  src/server/server.ts
Due: build, lint

Load automations while waiting for Homebridge and always load Homebridge if HAP bridges are disabled
  src/cli/server.ts
  src/server/homebridge.ts
  src/types/hap-nodejs.d.ts
Due: build, lint

Fix lightbulb on/off button
  src/public/components/accessory-details/Lightbulb.vue
Due: build, lint

Show system information in settings
  package-lock.json
  package.json
  src/client/client.ts
  src/client/connection.ts
  src/common/types/broadcast-messages.ts
  src/common/types/messages.ts
  src/public/components/main-component.vue
  src/public/components/settings.vue
  src/public/components/settings/status.vue
  src/public/scss/settings.scss
  src/public/translations/en-GB.ts
  src/server/connection.ts
  src/server/system-information.ts
Due: build, lint, audit

Add camera snapshot images
  src/client/connection.ts
  src/client/service.ts
  src/common/types/binary-messages.ts
  src/common/types/messages.ts
  src/public/components/accessory-details/Camera.vue
  src/public/components/accessory-details/accessory-details.vue
  src/public/components/layout-sections/cameras.vue
  src/public/components/layout-sections/cameras/camera.vue
  src/public/components/layout.vue
  src/public/components/services/Camera.vue
  src/public/scss/accessory-details.scss
  src/public/scss/accessory-details/camera.scss
  src/public/scss/accessory-details/index.scss
  src/public/scss/service.scss
  src/public/translations/en-GB.ts
  src/server/connection.ts
Due: build, lint

Fix HMR
  src/server/server.ts
Due: build, lint

Fix unsupported browser message
  src/public/components/layout-sections/cameras/camera.vue
Due: build, lint

Fit camera to screen height when full screen
  src/public/components/accessory-details/Camera.vue
  src/public/scss/accessory-details/camera.scss
Due: build, lint

Add support for camera snapshot images in Safari
  src/public/components/layout-sections/cameras/camera.vue
Due: build, lint

Fix camera header height and image border radius
  src/public/scss/accessory-details/camera.scss
  src/public/scss/service.scss
Due: build, lint

Update README and fix opening modals from cameras
  README.md
  src/public/components/layout.vue
Due: build, lint

Fix updating camera sections
  src/public/components/layout-sections/cameras.vue
Due: build, lint

Fix error showing error
  src/public/components/layout-sections/cameras/camera.vue
Due: build, lint

Update snapshot every 20 seconds
  src/public/components/accessory-details/Camera.vue
  src/public/components/camera.vue
  src/public/components/layout-sections/cameras.vue
Due: build, lint

Delay rendering layout until everything has loaded
  src/public/components/camera.vue
  src/public/components/icons/spinner.vue
  src/public/components/main-component.vue
  src/public/translations/en-GB.ts
Due: build, lint

Fix requesting snapshots when not connected
  src/client/connection.ts
  src/public/components/camera.vue
Due: build, lint

Add a retry button
  src/public/components/camera.vue
  src/public/translations/en-GB.ts
Due: build, lint

Camera section size
  src/public/scss/service.scss
Due: build, lint

Lint
  src/public/components/settings/status.vue
Due: build, lint

Update README
  README.md
Due: none

Fix development client library
  src/client.ts
Due: build, lint

Fix plugin API AccessoryStatus types
  types/api/index.d.ts
Due: none

Check for updates in the version command
  src/cli/index.ts
Due: build, lint

Add build type (release/development) to system information
  gulpfile.ts
  src/server/system-information.ts
Due: build, lint

Fix type error
  src/client/client.ts
Due: build, lint

Fix setting default ready status
  src/server/accessories.ts
Due: build, lint

Support Node.js versions 10, 12 and 13
  README.md
  package-lock.json
  package.json
  src/cli/hap-pair.ts
  src/server/hap-server.ts
  src/types/hap-nodejs.d.ts
Due: build, lint, audit

Update README and add no-op test script
  .gitlab-ci.yml
  README.md
  package.json
Due: build, lint, audit

Disable esModuleInterop
  src/automations/action.ts
  src/automations/condition.ts
  src/automations/index.ts
  src/automations/trigger.ts
  src/cli/configuration.ts
  src/cli/get-characteristics.ts
  src/cli/hap-pair.ts
  src/cli/index.ts
  src/cli/make-admin.ts
  src/cli/server.ts
  src/cli/set-characteristic.ts
  src/client/accessory.ts
  src/client/automation.ts
  src/client/characteristic.ts
  src/client/client.ts
  src/client/connection.ts
  src/client/layout.ts
  src/client/scene.ts
  src/client/service.ts
  src/events/index.ts
  src/hap-nodejs.ts
  src/history/database.ts
  src/index.ts
  src/patches/hap-nodejs-async.ts
  src/patches/hap-nodejs-security.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/index.ts
  src/server/plugins.ts
  src/server/server.ts
  src/types/hap-controller.d.ts
  src/types/hap-nodejs.d.ts
  src/util/uuid.ts
  tsconfig.json
Due: build, lint

Fix gulpfile types
  gulpfile.ts
  types/gulpfile/webpack.d.ts
Due: none

Fix some plugin API types
  src/events/server/plugins.ts
  src/server/plugins.ts
  src/server/server.ts
  types/api/index.d.ts
  types/api/storage.d.ts
Due: build, lint

Fix build on gulpfile change
  .gitlab-ci.yml
Due: build, lint, audit

Fix web interface plugin API types
  src/public/component-registry.ts
  src/public/index.ts
  src/public/modal.ts
  src/public/native-hook.ts
  src/public/plugins.ts
  src/public/window-modals.ts
Due: build, lint

Fix recursive dependencies
  src/hap-nodejs.ts
Due: build, lint
