Repository hap-server/hap-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, gulpfile.ts, .babelrc, src/**/*, example-plugins/src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.ts, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
  audit: any of: .gitlab-ci.yml, package-lock.json

Don't set the prerelease -next version when the last version tag doesn't match the package.json version
  .gitlab-ci.yml
Due: build, lint, audit

Update package.json
  package.json
Due: none

Lint
  .eslintrc.js
  package-lock.json
  package.json
  src/cli/index.ts
  src/cli/server.ts
  src/cli/set-characteristic.ts
  src/client/accessory.ts
  src/common/types/messages.ts
  src/public/component-registry.ts
  src/public/components/authenticate.vue
  src/server/connection.ts
  src/server/plugins.ts
  src/server/server.ts
Due: build, lint, audit

Fix type errors
  src/public/window-modals.ts
Due: build, lint

Update dependencies in lint jobs in CI and fix type errors
  .gitlab-ci.yml
  src/types/node_modules/@hap-server/types/typed-eventemitter.d.ts
Due: build, lint, audit

Fix -next prerelease versions depending on the last release instead of the same version
  .gitlab-ci.yml
Due: build, lint, audit

Use tiny-typed-emitter in the client library and fix type errors
  src/client/accessory.ts
  src/client/automation.ts
  src/client/characteristic.ts
  src/client/client.ts
  src/client/collapsed-service.ts
  src/client/connection.ts
  src/client/layout.ts
  src/client/scene.ts
  src/client/service.ts
Due: build, lint

Update Homebridge to 1.3.0-beta.19 and hap-nodejs to 0.9.0-beta.53
  package-lock.json
  package.json
  src/accessories/hap-ip-types.ts
  src/accessories/hap-ip.ts
  src/automations/action.ts
  src/automations/condition.ts
  src/automations/index.ts
  src/cli/configuration.ts
  src/cli/server.ts
  src/client/characteristic.ts
  src/client/service.ts
  src/common/types/hap.ts
  src/common/types/messages.ts
  src/events/server/accessories.ts
  src/events/server/characteristic-update.ts
  src/hap-nodejs.ts
  src/history/index.ts
  src/patches/hap-nodejs-async.ts
  src/patches/hap-nodejs-security.ts
  src/server/accessories.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/hap-server.ts
  src/server/homebridge.ts
  src/server/plugins.ts
  src/server/server.ts
  src/server/system-information.ts
  src/types/hap-nodejs-types.d.ts
  src/types/hap-nodejs.d.ts
  src/types/homebridge.d.ts
  src/util/uuid.ts
  types/api/hap.d.ts
  types/api/homebridge.d.ts
  types/api/index.d.ts
  types/ui-api/index.d.ts
Due: build, lint, audit

Fix duplicate messages in server output after reconnecting
  src/public/components/settings/server-output.vue
  src/public/plugins.ts
Due: build, lint

Add package links to GitLab releases
  .gitlab-ci.yml
Due: build, lint, audit

Update dependencies
  package-lock.json
  package.json
Due: build, lint, audit

Fix type error
  src/types/node_modules/@hap-server/types/hap-nodejs.d.ts
Due: build, lint

Lint
  .gitlab-ci.yml
Due: build, lint, audit

Fix links in api+ui-api package READMEs
  types/api/README.md
  types/ui-api/README.md
Due: none

Only publish from main when code changes
  .gitlab-ci.yml
Due: build, lint, audit

Update docs
  docs/plugins.md
Due: none

Fix prepare script
  package.json
Due: none
