Repository hap-server/hap-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

build:
  stage: build
  script:
  - npm --color="always" install
  - npx gulp --color build
  - npx gulp --color build-release
  - npx gulp --color build-example-plugins
  - cd release
  - PACKAGE_PATH=`npm --color="always" pack`
  - mv $PACKAGE_PATH ../hap-server-release.tgz
  artifacts:
    paths:
    - dist
    - release
  ...

lint:
  stage: test
  script:
  - npx eslint --ext .js --color src example-plugins/src ; JS_EXIT_CODE="$?"
  - npx eslint --ext .ts --color src ; TS_EXIT_CODE="$?"
  - npx eslint --ext .vue --color src ; VUE_EXIT_CODE="$?"
  - FORCE_COLOR=1 npx sass-lint -v ; SASS_EXIT_CODE="$?"
  ...

audit:
  stage: test
  script:
  - npm --color="always" audit
  - npm audit --json > npm-audit.json
  artifacts:
    paths:
    - npm-audit.json
    when: always
  cache:
    paths:
    - node_modules/
    policy: pull
  when: always
  allow_failure: true

List collapsed services in the accessory settings modal
  src/client/accessory.ts
  src/public/components/accessory-settings.vue
Due: build, lint, audit

Use linked services for television accessories instead of collapsed services
  src/client/service.ts
  src/public/components/accessory-details/Television.vue
  src/public/components/accessory-settings/Television.vue
  src/public/components/services/Television.vue
Due: build, lint, audit

Lint
  src/client/service.ts
  src/server/connection.ts
  src/server/hap-server.ts
Due: build

Update dependencies
  package-lock.json
  package.json
Due: build, lint, audit

Update README and documentation
  README.md
  docs/config.md
  docs/plugins.md
Due: none

v0.9.0
  package-lock.json
  package.json
Due: build, lint, audit

Remove types packages for now
  gulpfile.babel.js
  package-lock.json
  package.json
Due: build, lint, audit

v0.9.1
  package-lock.json
  package.json
Due: build, lint, audit

Add dependency and message types
  README.md
  package-lock.json
  package.json
  src/accessories/hap-ip.ts
  src/accessories/index.ts
  src/automations/trigger.ts
  src/cli/index.ts
  src/cli/server.ts
  src/client/accessory.ts
  src/client/connection.ts
  src/client/service.ts
  src/common/types/broadcast-messages.ts
  src/common/types/hap.ts
  src/common/types/messages.ts
  src/server/connection.ts
  src/server/permissions.ts
  src/server/plugins.ts
  src/server/server.ts
  src/types/api/index.d.ts
  src/types/express-csp.d.ts
  src/types/multer.d.ts
Due: build, lint, audit

Add storage types
  src/common/types/storage.ts
  src/server/permissions.ts
Due: build

Add a helper for getting/setting characteristic values
  src/automations/action.ts
  src/automations/condition.ts
  src/server/connection.ts
  src/server/server.ts
Due: build

Move component registry to common to remove the client's dependency on the web interface
  src/client/accessory.ts
  src/client/connection.ts
  src/common/component-registry.ts
  src/common/types/messages.ts
  src/public/component-registry.ts
  src/public/plugins.ts
Due: build

Fix updating automations
  src/client/client.ts
Due: build

Use storage types in message types and fix updating home settings
  src/client/client.ts
  src/common/types/broadcast-messages.ts
  src/common/types/messages.ts
Due: build

Client types
  src/client/accessory.ts
  src/client/automation.ts
  src/client/characteristic.ts
  src/client/client.ts
  src/client/collapsed-service.ts
  src/client/connection.ts
  src/client/layout.ts
  src/client/scene.ts
  src/client/service.ts
  src/common/types/broadcast-messages.ts
  src/common/types/hap.ts
  src/common/types/messages.ts
Due: build

Server types
  src/accessories/hap-ip.ts
  src/events/index.ts
  src/events/server/automations.ts
  src/events/server/characteristic-update.ts
  src/events/server/scenes.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/hap-async.ts
  src/server/hap-server.ts
  src/server/homebridge.ts
  src/server/server.ts
Due: build

No implicit any
  package-lock.json
  package.json
  src/accessories/hap-ip.ts
  src/accessory-discovery/hap-ble.ts
  src/accessory-discovery/hap-ip.ts
  src/accessory-setup/hap-ble.ts
  src/accessory-setup/hap-ip.ts
  src/automations/action.ts
  src/automations/condition.ts
  src/automations/index.ts
  src/automations/scene.ts
  src/automations/trigger.ts
  src/cli/configuration.ts
  src/cli/get-characteristics.ts
  src/cli/index.ts
  src/cli/make-admin.ts
  src/cli/server.ts
  src/cli/set-characteristic.ts
  src/common/logger.ts
  src/events/server/scenes.ts
  src/public/components/icons/index.ts
  src/public/plugins.ts
  src/server/server.ts
  src/types/vue-codemirror.d.ts
  src/types/vuedraggable.d.ts
  tsconfig.json
Due: build, lint, audit

Strict null checks
  package-lock.json
  package.json
  src/accessories/hap-ip.ts
  src/accessory-discovery/hap-ble.ts
  src/accessory-discovery/hap-ip.ts
  src/automations/action.ts
  src/automations/condition.ts
  src/automations/index.ts
  src/automations/scene.ts
  src/automations/trigger.ts
  src/cli/configuration.ts
  src/cli/make-admin.ts
  src/cli/server.ts
  src/client/accessory.ts
  src/client/characteristic.ts
  src/client/client.ts
  src/client/collapsed-service.ts
  src/client/connection.ts
  src/client/layout.ts
  src/client/service.ts
  src/common/component-registry.ts
  src/common/types/storage.ts
  src/public/index.ts
  src/public/mixins/characteristics.ts
  src/public/modal.ts
  src/public/modals.ts
  src/public/plugins.ts
  src/public/window-modals.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/homebridge.ts
  src/server/permissions.ts
  src/server/plugins.ts
  src/server/server.ts
  tsconfig.json
Due: build, lint, audit

Fix type errors with HMR
  src/public/index.ts
  src/public/modal.ts
Due: build

Fix connecting and accessory discovery types
  src/server/connection.ts
  src/server/plugins.ts
Due: build

Strict type checking
  src/accessories/hap-ip.ts
  src/automations/action.ts
  src/automations/condition.ts
  src/automations/index.ts
  src/automations/scene.ts
  src/automations/trigger.ts
  src/client/accessory.ts
  src/client/automation.ts
  src/client/characteristic.ts
  src/client/connection.ts
  src/client/layout.ts
  src/client/scene.ts
  src/client/service.ts
  src/common/component-registry.ts
  src/events/index.ts
  src/events/server/automations.ts
  src/public/plugins.ts
  src/server/connection.ts
  src/server/hap-server.ts
  src/server/plugins.ts
  src/server/server.ts
  tsconfig.json
Due: build

Fix modal title translation types
  src/public/modals.ts
Due: build

Move accessory management
  src/server/accessories.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/homebridge.ts
  src/server/index.ts
  src/server/permissions.ts
  src/server/plugins.ts
  src/server/server.ts
Due: build

Update node-persist types
  gulpfile.babel.js
  src/server/connection.ts
  src/server/plugins.ts
  src/server/server.ts
  src/types/node-persist.d.ts
Due: build

API types
  .gitignore
  .gitlab-ci.yml
  docs/plugins.md
  gulpfile.babel.js
  src/types/api/README.md
  src/types/api/events.d.ts
  src/types/api/index.d.ts
  src/types/api/package.json
  src/types/node_modules/@hap-server/hap-server
  src/types/ui-api/README.md
  src/types/ui-api/automation-action.d.ts
  src/types/ui-api/automation-condition.d.ts
  src/types/ui-api/automation-trigger.d.ts
  src/types/ui-api/index.d.ts
  src/types/ui-api/mixins.d.ts
  src/types/ui-api/package.json
  tsconfig.json
Due: build, lint, audit

Export server Connection type
  src/types/api/index.d.ts
Due: build

Make hap-controller a peer dependency instead of an optional dependency
  package.json
Due: none

Fix development build
  gulpfile.babel.js
Due: build

Build API types in CI
  .gitlab-ci.yml
Due: build, lint, audit

Lint
  src/accessories/hap-ip.ts
  src/accessories/index.ts
  src/cli/server.ts
  src/client/connection.ts
  src/client/scene.ts
  src/client/service.ts
  src/public/plugins.ts
  src/server/accessories.ts
  src/server/connection.ts
  src/server/plugins.ts
  src/server/server.ts
Due: build

Lint
  src/cli/server.ts
Due: build

Fix copying source to types/node_modules
  gulpfile.babel.js
Due: build

Add hap-controller to development dependencies
  README.md
  package-lock.json
  package.json
Due: build, lint, audit

v0.10.0
  package-lock.json
  package.json
Due: build, lint, audit

Lint and fix base directory
  gulpfile.babel.js
  src/common/types/broadcast-messages.ts
  src/common/types/messages.ts
  src/common/types/storage.ts
Due: build

Fix recursive dependencies
  src/server/server.ts
Due: build

Fix type errors
  src/cli/server.ts
Due: build

v0.10.1
  package-lock.json
  package.json
Due: build, lint, audit

Add remaining types for plugins
  src/accessories/hap-ip.ts
  src/accessory-discovery/hap-ble.ts
  src/accessory-discovery/hap-ip.ts
  src/cli/server.ts
  src/client/characteristic.ts
  src/client/service.ts
  src/common/types/storage.ts
  src/server/accessories.ts
  src/server/bridge.ts
  src/server/hap-server.ts
  src/server/homebridge.ts
  src/server/plugins.ts
  src/server/server.ts
  src/types/api/package.json
  src/types/hap-controller.d.ts
  src/types/hap-nodejs.d.ts
  src/types/homebridge.d.ts
  src/types/multer.d.ts
  src/types/qrcode-terminal.d.ts
  tsconfig.json
Due: build

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, gulpfile.babel.js, .babelrc, src/**/*, example-plugins/src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
  audit: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
