Repository hap-server/hap-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, gulpfile.babel.js, .babelrc, src/**/*, example-plugins/src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.ts, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
  audit: any of: .gitlab-ci.yml, package-lock.json

Move all files to TypeScript
  src/public/automations/actions/index.ts
  src/public/automations/conditions/index.ts
  src/public/automations/index.ts
  src/public/automations/triggers/index.ts
  src/public/components/accessory-details/index.ts
  src/public/components/accessory-discovery/index.ts
  src/public/components/accessory-settings/index.ts
  src/public/components/accessory-setup/index.ts
  src/public/components/authentication-handlers/index.ts
  src/public/components/layout-sections/index.ts
  src/public/components/services/index.ts
  src/public/components/user-management/index.ts
Due: build, lint

Fix web interface types
  src/public/component-registry.ts
  src/public/plugins.ts
Due: build, lint

Lint
  .eslintrc.js
Due: lint

Update package descriptions
  package.json
  src/types/api/package.json
  src/types/ui-api/package.json
Due: build

Update TypeScript configuration
  .gitignore
  gulpfile.babel.js
  package-lock.json
  package.json
  src/accessories/hap-ip.ts
  src/accessory-discovery/hap-ble.ts
  src/accessory-discovery/hap-ip.ts
  src/cli/server.ts
  src/client/characteristic.ts
  src/client/service.ts
  src/public/plugins.ts
  src/server/accessories.ts
  src/server/bridge.ts
  src/server/hap-server.ts
  src/server/homebridge.ts
  src/server/plugins.ts
  src/server/server.ts
  tsconfig.json
Due: build, lint, audit

v0.10.2
  package-lock.json
  package.json
Due: build, lint, audit

Fix type references
  gulpfile.babel.js
Due: build

v0.10.3
  package-lock.json
  package.json
Due: build, lint, audit

Fix type references in files that reference multiple type declarations
  gulpfile.babel.js
Due: build

v0.10.4
  package-lock.json
  package.json
Due: build, lint, audit

Fix some plugin API types
  src/client/connection.ts
  src/public/plugins.ts
  src/server/plugins.ts
Due: build, lint

Translation strings
  src/public/components/accessory-discovery/accessory-discovery.vue
  src/public/components/accessory-settings.vue
  src/public/components/accessory-setup/hap-ip.vue
  src/public/components/add-accessory.vue
  src/public/components/authenticate.vue
  src/public/components/layout-sections/accessories.vue
  src/public/components/layout-sections/scenes.vue
  src/public/components/layout-sections/scenes/scene.vue
  src/public/components/layout-settings.vue
  src/public/components/modal.vue
  src/public/components/pairing-settings.vue
  src/public/components/service-settings.vue
  src/public/translations/en-GB.ts
Due: build, lint

TypeScript gulpfile
  gulpfile.ts
  package-lock.json
  package.json
  types/gulpfile/gulp-babel.d.ts
  types/gulpfile/gulp-file.d.ts
  types/gulpfile/gulp-minify.d.ts
  types/gulpfile/transform-markdown-links.d.ts
  types/gulpfile/webpack.d.ts
Due: build, lint, audit

Configuration schema
  schemas/accessory.schema.json
  schemas/automation-action.schema.json
  schemas/automation-condition.schema.json
  schemas/automation-trigger.schema.json
  schemas/automation.schema.json
  schemas/bridge.schema.json
  schemas/config.schema.json
  schemas/homebridge/homebridge-accessory.schema.json
  schemas/homebridge/homebridge-platform.schema.json
  schemas/platform.schema.json
Due: none

Move AccessoryPlatform
  src/accessories/hap-ip.ts
  src/server/accessories.ts
  src/server/plugins.ts
Due: build, lint

Fix setting characteristics of services without subtypes
  src/server/accessories.ts
  tsconfig.json
Due: build, lint

Lint
  src/server/accessories.ts
  src/server/hap-async.ts
  src/server/permissions.ts
Due: build, lint

hap-nodejs types
  src/events/typed-eventemitter.ts
  src/hap-nodejs.ts
  src/index.ts
  src/types/hap-nodejs-types.d.ts
  src/types/hap-nodejs.d.ts
Due: build, lint

hap-nodejs types
  src/accessories/hap-ip.ts
  src/automations/action.ts
  src/automations/condition.ts
  src/automations/index.ts
  src/cli/configuration.ts
  src/cli/server.ts
  src/client/characteristic.ts
  src/client/service.ts
  src/events/server/accessories.ts
  src/events/server/characteristic-update.ts
  src/server/accessories.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/hap-async.ts
  src/server/hap-server.ts
  src/server/homebridge.ts
  src/server/plugins.ts
  src/server/server.ts
  src/types/api/hap.d.ts
  src/types/api/index.d.ts
Due: build, lint

Add the HAP/web interface connection to characteristic update events
  src/events/server/characteristic-update.ts
  src/server/bridge.ts
  src/server/connection.ts
  src/server/homebridge.ts
  src/types/hap-nodejs.d.ts
Due: build, lint

History
  docs/internals/history.md
  docs/internals/storage.md
  package-lock.json
  package.json
  src/cli/server.ts
  src/history/database.ts
  src/history/index.ts
  src/history/schema.ts
  src/server/connection.ts
  src/server/permissions.ts
  src/server/server.ts
Due: build, lint, audit

Lint
  package-lock.json
  package.json
  src/cli/server.ts
  src/server/connection.ts
Due: build, lint, audit

Fix short form UUIDs
  src/accessories/hap-ip.ts
  src/client.ts
  src/index.ts
  src/util/index.ts
  src/util/uuid.ts
Due: build, lint

Fix web interface build
  gulpfile.ts
  src/public/mixins/characteristics.ts
Due: build, lint

Load ts-node if using any single file plugins written in TypeScript
  package.json
  src/server/plugins.ts
Due: build, lint

Lint
  src/events/typed-eventemitter.ts
  src/history/database.ts
Due: build, lint

hap-controller types
  src/accessories/hap-ip.ts
  src/types/hap-controller.d.ts
Due: build, lint

Homebridge types
  src/server/accessories.ts
  src/server/homebridge.ts
  src/types/homebridge.d.ts
Due: build, lint

Update default data path
  README.md
  src/cli/configuration.ts
  src/cli/get-characteristics.ts
  src/cli/make-admin.ts
  src/cli/server.ts
  src/cli/set-characteristic.ts
Due: build, lint

xkcd-password types
  src/cli/server.ts
  src/types/xkcd-password.d.ts
Due: build, lint

Fix bridge accessory information for production builds
  src/server/bridge.ts
Due: build, lint

Support using ~ for the home directory
  src/cli/index.ts
Due: build, lint

Move API types
  gulpfile.ts
  src/cli/configuration.ts
  src/types/hap-controller.d.ts
  src/types/hap-nodejs-types.d.ts
  src/types/hap-nodejs.d.ts
  src/types/homebridge.d.ts
  src/types/node_modules/@hap-server/hap-server
  src/types/node_modules/@hap-server/types/hap-nodejs.d.ts
  src/types/node_modules/@hap-server/types/hap.d.ts
  src/types/node_modules/@hap-server/types/typed-eventemitter.d.ts
  types/api/README.md
  types/api/events.d.ts
  types/api/express.d.ts
  types/api/hap.d.ts
  types/api/index.d.ts
  types/api/index.js
  types/api/package.json
  types/api/plugin-config.d.ts
  types/api/storage.d.ts
  types/gulpfile/gulp-minify.d.ts
  types/node_modules/@hap-server/hap-server
  types/node_modules/@hap-server/types
  types/ui-api/README.md
  types/ui-api/accessory-discovery.d.ts
  types/ui-api/automation-action.d.ts
  types/ui-api/automation-condition.d.ts
  types/ui-api/automation-trigger.d.ts
  types/ui-api/dropdown.d.ts
  types/ui-api/icons.d.ts
  types/ui-api/index.d.ts
  types/ui-api/index.js
  types/ui-api/layout-section.d.ts
  types/ui-api/mixins.d.ts
  types/ui-api/package.json
  types/ui-api/panel-tabs.d.ts
  types/ui-api/service-details.d.ts
  types/ui-api/service-tile.d.ts
  types/ui-api/sortable.d.ts
Due: build, lint

Update README
  README.md
Due: none

Homebridge types
  docs/plugins.md
  src/types/homebridge.d.ts
  types/api/homebridge.d.ts
Due: build, lint

Lint
  .gitlab-ci.yml
  docs/plugins.md
Due: build, lint, audit

Remove all references to configuration files in the server
  src/cli/server.ts
  src/server/accessories.ts
  src/server/connection.ts
  src/server/server.ts
Due: build, lint

Fix using interfaces with TypedEventEmitter
  src/events/typed-eventemitter.ts
  src/history/database.ts
  src/types/hap-controller.d.ts
  src/types/hap-nodejs.d.ts
  src/types/homebridge.d.ts
Due: build, lint

Accessory status
  src/cli/server.ts
  src/index.ts
  src/server/accessories.ts
  src/server/server.ts
  types/api/index.d.ts
Due: build, lint
