Repository hap-server/hap-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

build:
  stage: build
  script:
  - npm --color="always" install
  - npx gulp --color build
  - npx gulp --color build-release
  - npx gulp --color build-example-plugins
  - cd release/hap-server
  - PACKAGE_PATH=`npm --color="always" pack`
  - mv $PACKAGE_PATH ../../hap-server-release.tgz
  - cd ../api-types
  ...

lint:
  stage: test
  script:
  - npx eslint --ext .js --color src example-plugins/src ; JS_EXIT_CODE="$?"
  - npx eslint --ext .ts --color src ; TS_EXIT_CODE="$?"
  - npx eslint --ext .vue --color src ; VUE_EXIT_CODE="$?"
  - FORCE_COLOR=1 npx sass-lint -v ; SASS_EXIT_CODE="$?"
  ...

audit:
  stage: test
  script:
  - npm audit --json > npm-audit.json || true
  - npm --color="always" audit
  artifacts:
    paths:
    - npm-audit.json
    when: always
  cache:
    paths:
    - node_modules/
    policy: pull
  when: always
  allow_failure: true

Fix accessory icons in Firefox
  src/public/scss/service.scss
Due: build, lint

Fix empty lines in network addresses
  src/public/components/settings/status.vue
Due: build, lint

Dark line colour
  src/public/scss/_dark.scss
Due: build, lint

Fix layout options only showing when no layout is selected
  src/public/components/layout-selector.vue
Due: build, lint

Blur the background of the accessory details modal on browsers other than Safari
  src/public/components/accessory-details.vue
  src/public/components/main-component.vue
  src/public/modals.ts
  src/public/scss/index.scss
Due: build, lint

Remove client dependency on public/component-registry
  src/client/accessory.ts
  src/client/client.ts
  src/public/index.ts
  src/public/modal.ts
  src/server/server.ts
Due: build, lint

Fix assigning server plugin IDs and add server plugin configuration
  src/server/plugins.ts
  src/server/server.ts
Due: build, lint

Export LayoutSection
  src/client.ts
Due: build, lint

Add plugin configuration schema
  schemas/config.schema.json
Due: none

Add React utilities for the client library and move Vue utilities to a separate file
  src/client/accessory.ts
  src/client/client.ts
  src/client/layout.ts
  src/client/react/hooks.ts
  src/client/react/index.ts
  src/client/service.ts
  src/client/util.ts
Due: build, lint

React utilities and App, Layout, Menu and Modals components
  gulpfile.ts
  package-lock.json
  package.json
  src/events/typed-eventemitter.ts
  src/public/modals.ts
  src/public/native-hook.ts
  src/public/react.tsx
  src/public/react/component-registry.ts
  src/public/react/components/App.tsx
  src/public/react/components/Dropdown.tsx
  src/public/react/components/Layout.tsx
  src/public/react/components/Menu.tsx
  src/public/react/components/Modals.tsx
  src/public/react/components/Translation.tsx
  src/public/react/context.ts
  src/public/react/index.tsx
  src/public/react/reactive-component.tsx
  src/public/react/util/component-id.ts
  src/public/react/util/decorators.ts
  src/public/react/util/reactivity-hooks.ts
  src/public/react/util/vue-internals.ts
  tsconfig.json
Due: build, lint, audit

Fix some types
  src/client/connection.ts
  src/client/service.ts
Due: build, lint

Update dependencies
  package-lock.json
  package.json
Due: build, lint, audit

Use matrix for tests
  .gitlab-ci.yml
Due: build, lint, audit

Publish all builds from the main branch to GitLab Packages
  .gitlab-ci.yml
Due: build, lint, audit

Fix CI
  .gitlab-ci.yml
Due: build, lint, audit

Update dependencies and fix type errors
  package-lock.json
  package.json
  src/cli/server.ts
  src/events/typed-eventemitter.ts
  src/history/database.ts
  src/server/server.ts
Due: build, lint, audit

Fix CI and update CI to Node.js v14
  .gitlab-ci.yml
Due: build, lint, audit

Fix type errors
  src/types/vuedraggable.d.ts
Due: build, lint

Fix type errors
  src/public/plugins.ts
Due: build, lint

Get the last version from git and use needs in CI
  .gitlab-ci.yml
Due: build, lint, audit

Update README.md
  README.md
Due: none

v0.11.4
  package-lock.json
  package.json
Due: build, lint, audit

Fix errors in Node.js v14
  src/cli/server.ts
Due: build, lint

Fix update check
  src/server/system-information.ts
Due: build, lint

Update TypeScript and uuid
  package-lock.json
  package.json
  src/cli/server.ts
  src/client/automation.ts
  src/events/index.ts
  src/events/typed-eventemitter.ts
  src/history/database.ts
  src/index.ts
  src/server/accessories.ts
  src/server/connection.ts
  src/server/plugins.ts
  src/types/hap-controller.d.ts
  src/types/hap-nodejs.d.ts
  src/types/homebridge.d.ts
  src/util/uuid.ts
Due: build, lint, audit

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, gulpfile.babel.js, .babelrc, src/**/*, example-plugins/src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, .sass-lint.yml, src/**/*.js, src/**/*.ts, src/**/*.vue, src/**/*.scss, example-plugins/src/**/*.js
  audit: any of: .gitlab-ci.yml, package-lock.json
